
.appBarSpacer
{
    height : 60px ;
}

.appBarOptions {
    margin-right: 10px !important;
}

.MuiContainer-maxWidthLg {
    max-width: 1700px !important;
}

.makeStyles-appBarShift-5{
    margin-left: 240px;
}

.makeStyles-drawerPaper-9{
    width: 240px ;
    background: linear-gradient(180deg, rgba(63,81,181,1) 0%, rgba(0,0,0,1) 100%) !important;
    color: white !important;
}   

.DrawerSpacer {
    height: 52vh;
}

.MuiListItemIcon-root{
    color: white !important;
}

.Divider {
    color: white !important;
    margin: 5px;
    height: 5px !important;
}

@media only screen and (max-width: 800px) {
    .MuiContainer-root{
        display: none;        
    }
    
    .DrawerSpacer {
        height: 73vh ;
    }
}

@media only screen and (max-width: 600px) {

    .MuiContainer-root{
        display: none;        
    }
    
    .DrawerSpacer {
        height: 65vh ;
    }

    .makeStyles-drawerPaper-9{
        width: 100vw ;
        object-fit: fill;        
    }   
    
    .makeStyles-appBarShift-5{
        display: none !important;
    }

}   