.day{
	.appBarSpacer {
		height: 60px;
	}
	.appBarOptions {
		margin-right: 10px !important;
	}
	.MuiContainer-maxWidthLg {
		max-width: 1700px !important;
	}
	.makeStyles-appBarShift-5 {
		margin-left: 240px;
	}
	.makeStyles-drawerPaper-9 {
		width: 240px;
		background: linear-gradient(180deg, #44469ccb 0%, #ffffffcb 120%) !important;
		color: white !important;
	}
	.DrawerSpacer {
		height: 52vh;
	}
	.MuiListItemIcon-root {
		color: white !important;
	}
	.Divider {
		color: white !important;
		margin: 5px;
		height: 5px !important;
	}
	@media only screen and (max-width: 800px) {
		.MuiContainer-root {
			display: none;
		}
		.DrawerSpacer {
			height: 73vh;
		}
	}
	@media only screen and (max-width: 600px) {
		.MuiContainer-root {
			display: none;
		}
		.DrawerSpacer {
			height: 65vh;
		}
		.makeStyles-drawerPaper-9 {
			width: 100vw;
			object-fit: fill;
		}
	}
	
}
.night{
	.appBarSpacer {
		height: 60px;
	}
	.appBarOptions {
		margin-right: 10px !important;
	}
	.MuiContainer-maxWidthLg {
		max-width: 1700px !important;
	}
	.makeStyles-appBarShift-5 {
		margin-left: 240px;
	}
	.makeStyles-drawerPaper-9 {
		width: 240px;
		background: linear-gradient(180deg, #95bce9 0%, rgb(0, 0, 0) 105%) !important;
		color: rgb(0, 0, 0) !important;
	}
	.DrawerSpacer {
		height: 52vh;
	}
	.MuiListItemIcon-root {
		color: rgb(0, 0, 0) !important;
	}
	.Divider {
		color: rgb(0, 0, 0) !important;
		margin: 5px;
		height: 5px !important;
	}
	@media only screen and (max-width: 800px) {
		.MuiContainer-root {
			display: none;
		}
		.DrawerSpacer {
			height: 73vh;
		}
	}
	@media only screen and (max-width: 600px) {
		.MuiContainer-root {
			display: none;
		}
		.DrawerSpacer {
			height: 65vh;
		}
		.makeStyles-drawerPaper-9 {
			width: 100vw;
			object-fit: fill;
		}
	}
	
}