.inputBase {
	width: 43vw !important;
}	
.searchFormPaper {
	// padding-left: 30px;
	// padding-right: 10px;
	width: 50%;
	height: 44px !important;		
	border-radius: 8px !important;
	border: 1px solid;
	box-shadow: none !important;
	z-index: 30;
}
.appBarSpacer {
	height: 800px;
}
.popover {
	// padding: 24px;
	// height: 400px;
	// width: 800px;
}
.day{
	.ex {
		align-items: center;
		padding-left: 40%;
	}
	.explore {
		align-items: center;
		display: flex !important;
		position: relative;
		justify-content: center;
		flex-direction: column;
		text-align: left;
	}	
	.MuiDialog-paperWidthSm {
		max-width: 400px;
		width: 250px !important;
		text-align: center;
	}
	.card {
		position: relative;
		margin: 0 auto;
		float: none;
		margin-bottom: 10px;
		img {
			align-items: center;
			width: 95%;
			padding-top: 5%;
			padding-right: 5%;
			padding-bottom: 5%;
			border-top-right-radius: 0;
			border-bottom-left-radius: calc(0.25rem - 1px);
			object-fit: cover;
			animation-name: fade-img;
			animation-duration: 2s;
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}
	}
	.card-body {
		padding: 0.5em 1.2em;
	}
	.card-title {
		padding-top: 3%;
		font-weight: bold;
	}
	.img {
		&:hover {
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}
	}
	.fade-img {
		animation-name: fade-img;
		animation-duration: 2s;
	}
	a {
		&:link {
			text-decoration: none;
		}
	}
	.horizontal-card {
		position: relative;
		display: flex;
		border: 1px solid rgb(0, 0, 0);
		margin-bottom: 1rem;
	}
	img {
		width: 200px;
		height: 200px;
	}
	.card-horizontal {
		display: flex;
		flex: 1 1 auto;
	}
	.horizontal-card-body {
		display: flex;
		flex-direction: column;
		margin-left: 1rem;		
	}
	.horizontal-card-footer {
		left: 0px;
		right: 0px;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
	}
	.text-muted {
		color: black;
	}
	
}
.night{
	
	.toolbar{
		background-color: #424242;
		border-bottom: 2px solid;
		border-color: #6381B5;
		// background:  rgba(0, 0, 0, 0.32) !important ;
	}
	.inputBase{
		color: white;
	}
	.searchFormPaper{
		background-color: #424242;
		border-bottom: 2px solid;
		border-color: #6381B5;		
	}
	.ex {
		align-items: center;
		padding-left: 40%;
	}
	.explore {
		align-items: center;
		display: flex !important;
		position: relative;
		justify-content: center;
		flex-direction: column;
		text-align: left;
	}
	.inputBase {
		width: 43vw !important;
	}		
	.MuiDialog-paperWidthSm {
		max-width: 400px;
		width: 250px !important;
		text-align: center;
	}
	.card {
		position: relative;
		margin: 0 auto;
		float: none;
		margin-bottom: 10px;
		img {
			align-items: center;
			width: 95%;
			padding-top: 5%;
			padding-right: 5%;
			padding-bottom: 5%;
			border-top-right-radius: 0;
			border-bottom-left-radius: calc(0.25rem - 1px);
			object-fit: cover;
			animation-name: fade-img;
			animation-duration: 2s;
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}
	}
	.card-body {
		padding: 0.5em 1.2em;
	}
	.card-title {
		padding-top: 3%;
		font-weight: bold;
	}
	.img {
		&:hover {
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}
	}
	.fade-img {
		animation-name: fade-img;
		animation-duration: 2s;
	}
	a {
		&:link {
			text-decoration: none;
		}
	}
	.horizontal-card {
		position: relative;
		display: flex;
		border: 1px solid rgb(0, 0, 0);
		margin-bottom: 1rem;
	}
	img {
		width: 200px;
		height: 200px;
	}
	.card-horizontal {
		display: flex;
		flex: 1 1 auto;
	}
	.horizontal-card-body {
		display: flex;
		flex-direction: column;
		margin-left: 1rem;
	}
	.horizontal-card-footer {
		left: 0px;
		right: 0px;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
	}
	.text-muted {
		color: black;
	}
	
}