.root {
  background: linear-gradient(
    150deg,
    rgba(13, 73, 114, 1) 0%,
    rgba(26, 1, 28, 1) 100%
  );
}
.centered {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
@keyframes signupform {
  0% {
    opacity: 1;
    width: 50%;
  }
  100% {
    opacity: 1;
    width: 50%;
  }
}
@keyframes slide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}
@keyframes slideback {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
  }
}

.mainDiv {
  position: absolute;
  right: 10%;
  width: 70%;
  margin: 5%;
  border-radius: 7%;
  box-shadow: 100%;
  box-shadow: black;
}
.layout {
  margin-bottom: 20%;
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
}
.signupPaper {
  padding-left: 5%;
  padding-right: 5%;
}
.maingrid {
  height: 70%;
}
.photo_login {
  position: absolute;
  background-image: url("earth3.png");
  background-position: center;
  background-size: cover;
  width: 50%;
  float: left;
  height: 530px;
}

@keyframes glow {
  from {
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #10066b, 0 0 40px #5841be,
      0 0 50px #4f1c92, 0 0 60px #824dff, 0 0 70px #684dff, 0 0 80px #070707;
  }
}
.text_header {
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-variant: normal;
  position: relative;
  top: 7%;
  font-size: 40px;
  color: #a0a0a0;
  animation: glow 1s ease-in-out infinite alternate;
}

.buttonMain {
  color: #c0c0c0 !important;
  position: absolute;
  top: 70%;
  text-align: center;
  border-color: #c0c0c0 !important;
  border-radius: 0 !important;
  font-size: 13px !important;
}
.loginform {
  background-color: black;
  width: 50%;
  float: right;
  position: absolute;
  left: 50%;
  height: 530px;
}
.loginform.loginhide {
  visibility: hidden;
}

.signupform {
  background-color: black !important;
  width: 50%;
  float: left;
  height: 530px;
  position: absolute;
  visibility: hidden !important;
}
.signupform.signupshow {
  visibility: visible !important;
  animation: signupform 0.8s forwards;
}

.photo_login.change {
  animation: slide 0.8s forwards;
}
.photo_login.unchange {
  animation: slideback 0.8s forwards;
}

.signupforms {
  width: 103% !important;
  background-color: black;
  font-size: 17px;
  border-color: rgb(4, 4, 95);
  border-width: 2px;
  border-radius: 0;
}

.loginforms {
  background-color: black;
  font-size: 17px;
  border-color: rgb(2, 2, 78);
  border-width: 2px;
  border-radius: 0;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: navy;
  border-radius: 0%;
  border-style: dotted;
  border-width: 4px;
  background-image: url("OIP.png");
}
.invalid-feedback {
  color: rgb(119, 119, 177);
}

.loginB {
  width: 100%;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: black;
  font-size: 17px;
  border-color: navy;
  color: grey;
}
.signupB {
  width: 102%;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: black;
  font-size: 17px;
  border-color: navy;
  color: grey;
}

.forgotpassword {
  margin-top: 15px;
  color: rgb(104, 104, 104);
  cursor: pointer;
  text-underline-position: below;
  text-decoration-thickness: 2px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(104, 104, 104) !important;
}
.forgotpassword:hover {
  transition: all 0.25s ease-in;
  color: navy;
  text-decoration-color: navy !important;
}
