.root{
    /* background-color : yellow; */
    /* background: rgb(13,73,114); */
    background: linear-gradient(150deg, rgba(13,73,114,1) 0%, rgba(26,1,28,1) 100%);    

}

.layout {
    margin-left :  20% ;     
    margin-right: 20% ;    
}

.center {
    position: relative;    
    top: 15%;
    /* left: 20%; */
    /* right: 20%; */
    z-index: 2;
    display: block;
    margin: auto;    
    /* height: 70%; */
    border-radius: 0.3cm;            
}

.photo_login {
    background-image: url("earth.jpg") ;
    background-position: center;
    background-size: cover;
    width: 50%;    
    border-radius: 0.3cm 0cm 0cm 0.3cm;   
    float: left;
}

.photo_signup {
    background-image: url("earth.jpg") ;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    border-radius: 0cm 0.3cm 0.3cm 0cm;    
    float: right;
}

.text_header {
    font-family: "Brush Script MT", cursive;
    position: relative;
    /* text-align: center; */
    font-size: 50px;
    top: 10%;
    color: white;
}

.text {    
    position: relative;    
    top: 50%;    
    font-size: 15px;
    color: white;
}

button {
    color: white !important;
    position: sticky;
    text-align: center;
    top: 70%;
    background-color: white;
    border-color: white !important;
}