@font-face {
  font-family: sitesFont;
  src: url(./Rokkitt-Medium.ttf);
}

.App-day {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  font-family: sitesFont;
}
.App-night {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 3, 5, 255);
  font-family: sitesFont;
}
.App-day-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-day-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
